/DOTNET_Core_2019Framework-master/.vs
/DOTNET_Core_2019Framework-master/Common/bin
/DOTNET_Core_2019Framework-master/Common/obj
/DOTNET_Core_2019Framework-master/DAL/bin
/DOTNET_Core_2019Framework-master/DAL/obj
/DOTNET_Core_2019Framework-master/DTO/bin
/DOTNET_Core_2019Framework-master/DTO/obj
/DOTNET_Core_2019Framework-master/IDAL/bin
/DOTNET_Core_2019Framework-master/IDAL/obj
/DOTNET_Core_2019Framework-master/Sparkle_Framework2019/bin
/DOTNET_Core_2019Framework-master/Sparkle_Framework2019/obj
