<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <!--制定日志类型，日志名和内容规则-->
  <targets>
    <!--日志1 用于输出所有日志（包含.net core 生成的日志）弃用-->
    <target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <!--内容：时间，日志来源程序，日志等级，日志内容-->


    <!--日志2 用于输出程序逻辑日志-->
    <target xsi:type="File" name="MVC-web" fileName="Framework2019-${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <!--内容：时间，日志来源程序，日志等级，日志内容-->


    <!--日志3 用于筛选windows输出的日志（必要）-->
    <target xsi:type="Null" name="blackhole" />

  </targets>

  <rules>
    <!--日志1-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--日志3（顺序在mylog前面）-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <!--日志2-->
    <logger name="*" minlevel="Trace" writeTo="MVC-web" />
  </rules>
</nlog>